@import "variables";

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    background: linear-gradient($soft-violet, $soft-blue);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-card {
    display: flex;
    flex-basis: 57.5rem; // 920px

    background: $white;
    border-radius: 1.5rem; // 24px
}

.bg-images {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bg-pattern {
    position: absolute;
    left: 0%;
    width: 388px * 2;
}

.bg-illustration {
    position: absolute;
}

h1 {
    font-weight: 700;
    color: $very-dark-desaturated-blue;
}

.accordion {
    min-width: 17.5rem; // 280px

    margin-top: 1rem;
    margin-bottom: 1rem;
    // padding: 45px 45px;

    hr {
        margin: 0;

        height: 1px;
        border: none;
        color: $light-grayish-blue; // IE
        background: $light-grayish-blue; // Modern browsers
    }

    .item {
        margin: 1.5rem;

        .label {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                display: inline;
                margin: 0;

                font-weight: 400;
                color: $very-dark-grayish-blue;
            }

            img {
                width: 0.75rem;
                translate: transform 0, 1s ease;
            }
        }

        .content {
            display: block;
            overflow: hidden;
            margin-top: 1rem;

            max-height: 0;
            transition: max-height 0.3s ease;

            font-size: 1rem;
            color: $dark-grayish-blue;
        }

        &.active {
            .label {
                h2 {
                    font-weight: 700;
                    color: $very-dark-desaturated-blue;
                }

                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
